<!DOCTYPE html>
<html lang="en">
<body class="container">
<header>
  <% include _header.ejs %>
</header>

<main>
  <div class="jumbotron">
    <p><%= JSON.stringify(quotation) %></p>
  </div>
</main>

<footer>
  <% include _footer.ejs %>
</footer>

</body>
</html>
