<!DOCTYPE html>
<html lang="en">
<body class="container">
<header>
  <%- include _header.ejs %>
</header>

<main>
  <div class="jumbotron">

    Bienvenido a la Tatuadora, la primera comunidad del tatuaje en México.

    Con la Tatuadora, podrás:

    <li>Cotizar tu próximo tatuaje con uno de los mejores artistas del país : Link</li>

    <li>Comprar diseños únicos de forma digital y reservar tu cita con el tatuador si te lo quieres tatuar: Link</li>

    <li>Inspirarte con miles de diseños únicos y pedir cotización especificas a los artistas que lo realizaron: Link</li>

    <li>Adentrarte en el mundo del tatuaje con artículos específicos sobre este arte: Link</li>

    Y mucho mas !

  </div>
</main>

<footer>
  <% include _footer.ejs %>
</footer>

</body>
</html>
