<!DOCTYPE html>
<html>
  <head>
    <title>Comprapago</title>

  </head>

  <body>
    <form action="/compropago" method="POST">
      <div>
        <label>
          <span>Precio</span>
          <input type="text" name="price">
        </label>
      </div>
      <button type="submit">Pagar</button>
    </form>
  </body>
</html>
