<!DOCTYPE html>
<html>
  <head>
    <title>Comprapago</title>

  </head>

  <body>
    <form action="/compropago" method="POST">
    <div>
        <label>
          <span>name</span>
          <input type="text" name="name">
        </label>
      </div>
      <div>
        <label>
          <span>Precio</span>
          <input type="text" name="price">
        </label>
      </div>
      <div>
        <label>
          <span>Item</span>
          <input type="text" name="item">
        </label>
      </div>
       <div>
        <label>
          <span>Payment point</span>
          <input type="text" name="payment_type">
        </label>
      </div>
      <button type="submit">Pagar</button>
    </form>
  </body>
</html>
