<!DOCTYPE html>
<html>
<head>
	<title>Paypal</title>
</head>
<body>
<form action="/paypal" method="POST">
  <div>
    <label>
      <span>ItemId</span>
      <input type="text" name="itemId">
    </label>
  </div>
  <div>
    <label>
      <span>ItemType</span>
      <input type="text" name="itemType">
    </label>
  </div>
  <button type="submit">Pagar</button>
</form>
</body>
</html>