<!DOCTYPE html>
<html>
<head>
	<title>Paypal</title>
</head>
<body>
<form action="/paypal" method="POST">
  <div>
    <label>
      <span>Item</span>
      <input type="text" name="item">
    </label>
  </div>
  <div>
    <label>
      <span>Precio</span>
      <input type="text" name="price">
    </label>
  </div>
  <button type="submit">Pagar</button>
</form>
</body>
</html>