<form action="/tattoo/add" method="post">
  <input type="text" name="tattootype">type
  <input type="number" name="element">number
  <input type="text" name="image">img
  <input type="submit"/>
</form>
